
.caption-about {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.text-about {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
}

.about-item:hover {
    opacity: 0.8;
}
 
.images {
    width: 150px;
    border-radius: 15%;
}

.about-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.aboot-list-item {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.list {
    width: calc((100% / 2) - 50px);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 15%;
    padding: 40px;
    background: radial-gradient(circle, #8ab493, white);
}


.misbroiler {
    text-transform: uppercase;
}