@font-face {
    font-family: opensansRegular;
    src: url("../font/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensansBold;
    src: url("../font/OpenSans-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

.content {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.text-about {
    font-size: 25px;
    font-family: opensansRegular;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.about-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
}

.aboot-list-item {
    font-size: 25px;
    font-family: opensansRegular;
    font-style: normal;
}

.list {
    box-sizing: border-box;
    width: calc((100% / 2) - 30px);
    list-style-type: none;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 0;
}

.item-1 {
    background: linear-gradient(34deg, #3f9b0b, #ffffff, #93bec4);
}

.item-2 {
    background: linear-gradient(329deg, #3f9b0b, #ffffff, #93bec4);
}

.aboot-list-item::before {
    display: flex;
    content: '';
    background-image: url("../svg/chicken-mini.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: relative;
    right: 30px;
    top: 25px;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.about-item:hover {
    opacity: 0.8;
}

.description {}

.images {
    width: 360px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.text-description {
    font-family: opensansRegular;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    font-size: 20px;
    max-width: 360px;
}

.misbroiler {
    text-transform: uppercase;
}

/* Стили для модального окна */
.modal-image {
    display: none;
    /* Скрываем модальное окно по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    background-color: #000000;
    z-index: -1;
}

.closeModal {
    padding: 14px;
    background-color: white;
    background-image: url(../svg/cross.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    right: 35px;
    top: -320px;
}

.modal-content {
    max-width: 90%;
    height: 90vh;
    margin: 0;
    border-radius: 20px;
}
  
.image-hangar {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    margin-bottom: 70px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.show {
    max-height: 2500px; 
    opacity: 1;
    pointer-events: auto;
}

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #93bec4;
    background: linear-gradient(2deg, #3f9b0b, #ffffff, #93bec4);
    height: 50px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 10px;
    
    font-size: 15px;
    font-family: opensansRegular;
    font-style: normal;
    text-align: center;

    cursor: pointer;
}

.button-center {
    display: flex;
    justify-content: flex-start;
}

.down_arrow {
    width: 30px;
    padding-left: 20px;
}


.toggle-btn:active {
    transform: scale(0.95);
    border: 1px solid #93bec4;
}

.item-hangar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-hangar {
    width: 350px;
}

@media (max-width: 1023px) {
    .text-about {
        font-size: 18px;
    }

    .list {
        width: 100%;
    }

    .aboot-list-item {
        font-size: 16px;
    }
}

@media (max-width: 860px) {
    .images {
        width: 300px;
    }

    .description {
        width: 300px;
    }

    .button-center {
        justify-content: center;
    }
}